@*@model Ecommerceclothes.Models.Products*@
@model Ecommerceclothes.Models.ViewModel.ProductsViewModel
@using Ecommerceclothes.Extensions
@{
    ViewData["Title"] = "Details";
}
<br /><br />



<h2 class="text-info">تفاصيل المنتج</h2>
<div class="p-4 border rounded row">
    <div class="col-8">
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Products.Name"></label>
            </div>
            <div class="col-4">
                <input asp-for="Products.Name" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Products.Price"></label>
            </div>
            <div class="col-4">
                <input asp-for="Products.Price" readonly class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="ProductTypes"></label>
            </div>
            <div class="col-4">
                <input asp-for="Products.ProductTypes.Name" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="SpecialTags"></label>
            </div>
            <div class="col-4">
                <input asp-for="Products.SpecialTags.Name" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Products.ShadeColor"></label>
            </div>
            <div class="col-4">
                <input asp-for="Products.ShadeColor" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Products.Available"></label>
            </div>
            <div class="col-4">
                <input type="checkbox" readonly class="form-control" asp-for="Products.Available" />
            </div>
        </div>
    </div>
    <div class="col-1">
    </div>
    <div class="col-3">
        <img src="@Model.Products.Image" width="100%" style="border-radius:5px; border:1px solid #bbb9b9;" />
    </div>

    <br />
    <div class="form-group">
        <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.Products.Id">تعديل</a>
        <a asp-action="Index" class="btn btn-success">رجوع إلى القائمة</a>
    </div>
</div>


<script src="~/js/jquery.min.js"></script>
<script defer src="~/js/jquery.flexslider.js"></script>
<link rel="stylesheet" href="~/css/flexslider.css" type="text/css" media="screen" />
<script src="~/js/imagezoom.js"></script>
<script>
    // Can also be used with $(document).ready()
    $(window).load(function () {
        $('.flexslider').flexslider({
            animation: "slide",
            controlNav: "thumbnails"
        });
    });
</script>





<!--start-rate-->
<script src="~/js/jstarbox.js"></script>
<link rel="stylesheet" href="~/css/jstarbox.css" type="text/css" media="screen" charset="utf-8" />
<script type="text/javascript">
    jQuery(function () {
        jQuery('.starbox').each(function () {
            var starbox = jQuery(this);
            starbox.starbox({
                average: starbox.attr('data-start-value'),
                changeable: starbox.hasClass('unchangeable') ? false : starbox.hasClass('clickonce') ? 'once' : true,
                ghosting: starbox.hasClass('ghosting'),
                autoUpdateAverage: starbox.hasClass('autoupdate'),
                buttons: starbox.hasClass('smooth') ? false : starbox.attr('data-button-count') || 5,
                stars: starbox.attr('data-star-count') || 5
            }).bind('starbox-value-changed', function (event, value) {
                if (starbox.hasClass('random')) {
                    var val = Math.random();
                    starbox.next().text(' ' + val);
                    return val;
                }
            })
        });
    });
</script>
<!--//End-rate-->



<link href="~/css/owl.carousel.css" rel="stylesheet">
<script src="~/js/owl.carousel.js"></script>
<script>
    $(document).ready(function () {
        $("#owl-demo").owlCarousel({
            items: 1,
            lazyLoad: true,
            autoPlay: true,
            navigation: false,
            navigationText: false,
            pagination: true,
        });
    });
</script>






<!--content-->
<div class="content">
    <!--single-->
    <div class="single-wl3">
        <div class="container">
            <div class="single-grids">
                <div class="col-md-9 single-grid">
                    <div clas="single-top">
                        <div class="single-left">
                            <div class="flexslider">
                                <ul class="slides">
                                    <li data-thumb="@Model.Products.Image">
                                        <div class="thumb-image"> <img src="@Model.Products.Image" data-imagezoom="true" class="img-responsive"> </div>
                                    </li>
                                    <li data-thumb="@Model.Products.Image">
                                        <div class="thumb-image"> <img src="@Model.Products.Image" data-imagezoom="true" class="img-responsive"> </div>
                                    </li>
                                    <li data-thumb="@Model.Products.Image">
                                        <div class="thumb-image"> <img src="@Model.Products.Image" data-imagezoom="true" class="img-responsive"> </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="single-right simpleCart_shelfItem">
                            <h4>  معاينة المنتج</h4>
                            <div class="block">
                                <div class="starbox small ghosting"> </div>
                            </div>
                           
                           


                            
                            <div class="description">
                                <p>
                                    <span>لمحة سريعة : </span>
                                    
                                    هذا المنتج جيد وعملي وتم تصنيعه حسب الشروط العالمية بأسعار منافسة وقياسات مناسبة لكل الأعمار

                                </p>
                            </div>
                            <div class="color-quality">
                              
                                <!--quantity-->
                                <script>
                                    $('.value-plus1').on('click', function () {
                                        var divUpd = $(this).parent().find('.value1'), newVal = parseInt(divUpd.text(), 10) + 1;
                                        divUpd.text(newVal);
                                    });

                                    $('.value-minus1').on('click', function () {
                                        var divUpd = $(this).parent().find('.value1'), newVal = parseInt(divUpd.text(), 10) - 1;
                                        if (newVal >= 1) divUpd.text(newVal);
                                    });
                                </script>
                                <!--quantity-->
                            </div>
                            <div class="women">
                                <span class="size">XL / XXL / S </span>
                                @*<a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>*@
                            </div>
                            <div class="social-icon">
                                <a href="#"><i class="icon"></i></a>
                                <a href="#"><i class="icon1"></i></a>
                                <a href="#"><i class="icon2"></i></a>
                                <a href="#"><i class="icon3"></i></a>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                
                <div class="clearfix"> </div>
            </div>

        </div>
    </div>
    <!--single-->
    <div class="new-arrivals-w3agile">
        <div class="container">
            <h3 class="tittle1">أفضل المبيعات</h3>
            <div class="arrivals-grids">
                <div class="col-md-3 arrival-grid simpleCart_shelfItem">
                    <div class="grid-arr">
                        <div class="grid-arrival">
                            <figure>
                                <a href="single.html">
                                    <div class="grid-img">
                                        <img src="~/images/p28.jpg" class="img-responsive" alt="">
                                    </div>
                                    <div class="grid-img">
                                        <img src="~/images/p27.jpg" class="img-responsive" alt="">
                                    </div>
                                </a>
                            </figure>
                        </div>
                        <div class="ribben">
                            <p>جديد</p>
                        </div>
                        <div class="ribben1">
                            <p>تخفيض</p>
                        </div>
                        <div class="block">
                            <div class="starbox small ghosting"> </div>
                        </div>
                        <div class="women">
                            <h6><a href="single.html">كنزة رجالية</a></h6>
                            <span class="size">XL / XXL / S </span>
                            <p><del>$100.00</del><em class="item_price">$70.00</em></p>
                           @* <a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>*@
                        </div>
                    </div>
                </div>
                <div class="col-md-3 arrival-grid simpleCart_shelfItem">
                    <div class="grid-arr">
                        <div class="grid-arrival">
                            <figure>
                                <a href="single.html">
                                    <div class="grid-img">
                                        <img src="~/images/p30.jpg" class="img-responsive" alt="">
                                    </div>
                                    <div class="grid-img">
                                        <img src="~/images/p29.jpg" class="img-responsive" alt="">
                                    </div>
                                </a>
                            </figure>
                        </div>
                        <div class="ribben2">
                            <p>ساعة </p>
                        </div>
                        <div class="block">
                            <div class="starbox small ghosting"> </div>
                        </div>
                        <div class="women">
                            <h6><a href="single.html">ساعةرجالية</a></h6>
                            <span class="size">XL / XXL / S </span>
                            <p><del>$100.00</del><em class="item_price">$70.00</em></p>
                            @*<a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>*@
                        </div>
                    </div>
                </div>
                <div class="col-md-3 arrival-grid simpleCart_shelfItem">
                    <div class="grid-arr">
                        <div class="grid-arrival">
                            <figure>
                                <a href="single.html">
                                    <div class="grid-img">
                                        <img src="~/images/s2.jpg" class="img-responsive" alt="">
                                    </div>
                                    <div class="grid-img">
                                        <img src="~/images/s1.jpg" class="img-responsive" alt="">
                                    </div>
                                </a>
                            </figure>
                        </div>
                        <div class="ribben1">
                            <p>تخيض</p>
                        </div>
                        <div class="block">
                            <div class="starbox small ghosting"> </div>
                        </div>
                        <div class="women">
                            <h6><a href="single.html">حقيبة ظهر</a></h6>
                            <span class="size">XL / XXL / S </span>
                            <p><del>$100.00</del><em class="item_price">$70.00</em></p>
                            @*<a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>*@
                        </div>
                    </div>
                </div>
                <div class="col-md-3 arrival-grid simpleCart_shelfItem">
                    <div class="grid-arr">
                        <div class="grid-arrival">
                            <figure>
                                <a href="single.html">
                                    <div class="grid-img">
                                        <img src="~/images/s4.jpg" class="img-responsive" alt="">
                                    </div>
                                    <div class="grid-img">
                                        <img src="~/images/s3.jpg" class="img-responsive" alt="">
                                    </div>
                                </a>
                            </figure>
                        </div>
                        <div class="ribben">
                            <p>جديد</p>
                        </div>
                        <div class="block">
                            <div class="starbox small ghosting"> </div>
                        </div>
                        <div class="women">
                            <h6><a href="single.html">بوط رياضي</a></h6>
                            <span class="size">XL / XXL / S </span>
                            <p><del>$100.00</del><em class="item_price">$70.00</em></p>
                           @* <a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>*@
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--new-arrivals-->
</div>
<!--content-->